@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*******************************************************************************
    GENERAL STYLING
*******************************************************************************/
:root {
    /* Colors: */
    ---f1f1f0: #F1F1F0;
    ---cc4b00: #CC4B00;
    ---e65400: #E65400;
    ---fdb913: #FDB913;
    ---ffffff: #FFFFFF;
    ---D6D6D6: #D6D6D6;
    ---626262: #626262;
    ---505050: #505050;
    ---454545: #454545;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    color: var(---505050);
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

h1 {
    color: var(---ffffff);
    font-size: 40px;
    font-weight: 400;
    margin: 0px; 
}

h2 {
    font-size: 24px;
    font-weight: 300;
}

h3 {
    color: var(---fdb913);
    font-size: 18px;
    font-weight: 600;
    margin: 0px; 
}

p {
    font-size: 16px;
}

a {
    color: var(---cc4b00);
    font-size: 16px;
}

.content-container {
    max-width: 1200px;
    margin: 0px auto;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 800px 400px 1fr;
}

/*******************************************************************************
    HEADER / HERO STYLING
*******************************************************************************/
header {
    background-color: white;
    box-shadow: 0px 3px 6px #00000028;
    position: sticky;
    top: 0px;
    z-index: 10;
}

#full-sail-logo {
    display: inline-block;
    padding: 12px 0px 8px;
}

#info-icon-button {
    display: none;
}

#hero {
    align-items: end;
    background-image: image-set(
        url("../images/header_image_with_overlay.png") 1x,
        url("../images/header_image_with_overlay@2x.png") 2x
    );
    background-position: center center;
    background-size: cover;
    grid-template-areas: ". hero-headings . .";
    height: 470px;
}

#hero #hero-headings {
    grid-area: hero-headings;
    padding: 36px 0px;
}

/*******************************************************************************
    MAIN CONTENT STYLING
*******************************************************************************/

#main-content {
    grid-template-areas: ". content aside .";
}

#main-content .left-side {
    grid-area: content;
    padding: 36px 36px 84px 0px;
}

#main-content .left-side p {
    line-height: 26px;
    margin-bottom: 40px;
}

#main-content .left-side #additional-info a {
    display: flex;
    align-items: center;
}

#main-content .left-side #additional-info img {
    height: 16px;
    margin-right: 12px;
    margin-top: 3px;
}

#main-content .right-side {
    grid-area: aside;
}

/*******************************************************************************
    FORM STYLING
*******************************************************************************/
form {
    background-color: var(---ffffff);
    box-shadow: 0px 3px 6px #00000029;
    margin: -365px 4px 0px 0px;
    padding: 24px;
    position: relative;
}

form .hidden-anchor {
    position: absolute;
    top: -54px;
}

form h3 {
    color: var(---505050);
    font-family: "Arvo", serif;
    font-size: 32px;
    font-weight: 300;
}

form p {
    font-weight: 600;
}

form .divider {
    background-color: var(---fdb913);
    height: 3px;
    margin: 32px 0px 12px;
    width: 40px;
}

form label {
    cursor: pointer;
}

form #checkboxes-label {
    cursor: auto;
}

form .primary-label {
    display: block;
    font-size: 14px;
    font-weight: 900;
    padding: 16px 12px 8px;
}

form .primary-label sup {
    color: var(---e65400);
    font-weight: 400;
}

form select {
    border: 0;
    box-shadow: -1px 1px 1px var(---D6D6D6);
    font-size: 16px;
    padding: 8px 12px;
    width: 100%;
}

form .checkbox-container {
    margin-bottom: 4px;
}

form input[type=checkbox] {
    margin-left: 0;
}

form button {
    background-color: var(---cc4b00);
    border: 3px solid var(---cc4b00);
    color: var(---ffffff);
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin: 48px 0px 12px;
    padding: 18px;
    text-align: center;
    transition:
        background-color 0.25s,
        color 0.25s;
    width: 100%;
}

form button:hover {
    background-color: var(---ffffff);
    color: var(---cc4b00);
}

/*******************************************************************************
    FOOTER STYLING
*******************************************************************************/
footer .top {
    background-color: var(---505050);
}

footer .top .content-container,
footer .bottom .content-container {
    color: var(---ffffff);
    text-align: center;
}

footer .top .content-container{
    padding: 24px 0px;
}

footer .bottom .content-container{
    padding: 12px 0px;
}

footer .top .logos {
    border-bottom: 1px solid var(---626262);
}

footer .top .logos div {
    margin: 24px;
}

footer .top .logos div .tm {
    font-family: "Arvo", serif;
    font-size: 27px;
    font-weight: 300;
}

footer .top .fine-print {
    padding: 12px 0px;
}

footer .top .fine-print p {
    font-size: 12px;
    margin: 24px;
}

footer .top .fine-print p:last-child {
    margin-bottom: 0;
}

footer .bottom {
    background-color: var(---454545);
}

footer .bottom p {
    font-size: 11px;
    margin: 8px;
}

/*******************************************************************************
    TABLET BREAKPOINT
*******************************************************************************/
@media screen and (max-width: 1250px) and (min-width: 900px) {
    .content-container {
        margin: 0px 24px;
    }
    
    .content-grid {
        grid-template-columns: 2fr 1fr;
        padding: 0px 24px;
    }

    #hero {
        grid-template-areas: "hero-headings .";
    }

    #main-content {
        grid-template-areas: "content aside";
    }
}

/*******************************************************************************
    MOBILE BREAKPOINT
*******************************************************************************/
@media screen and (max-width: 900px) {
    h1 {
        font-size: 24px;
        font-weight: 300;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        color: white;
        font-size: 14px;
        margin-top: 8px;
    }

    p {
        font-size: 14px;
    }

    .content-container {
        margin: 0px 16px;
    }
    
    .content-grid {
        grid-template-columns: 1fr;
        padding: 0px 16px;
    }

    header {
        padding: 0;
    }

    header nav.content-container {
        display: flex;
        justify-content: space-between;
        margin-right: 0px;
    }

    #info-icon-button {
        background-color: var(---fdb913);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.25s;
    }

    #info-icon-button:hover {
        opacity: 0.8;
    }

    #info-icon-button img {
        display: inline-block;
        padding: 0px 20px;
    }

    #hero {
        background-image: image-set(
            url("../images/header_image_mobile.png") 1x,
            url("../images/header_image_mobile@2x.png") 2x
        );
        background-position: left top;
        background-size: cover;
        grid-template-areas: "hero-headings";
        height: 220px;
        padding: 0px;
    }

    #hero #hero-headings {
        background-color: #000000a9;
        padding: 24px 0px 12px;
        text-align: center;
    }

    #main-content {
        grid-template-areas: 
            "content"
            "aside";
    }

    #main-content .left-side {
        padding: 24px 0px;
    }

    .item-detail {
        background-color: var(---f1f1f0);
        padding: 8px 20px;
    }

    #main-content .left-side p {
        margin-bottom: 24px;
    }

    #main-content .left-side #additional-info {
        margin-bottom: 36px;
    }

    form {
        border-top: 1px solid var(---D6D6D6);
        box-shadow: none;
        margin: 24px 0 0;
    }

    footer .top .logos div {
        margin: 0px;
    }

    footer .top .fine-print p {
        margin: 24px 0px;
    }

    footer .bottom .content-container {
        padding: 18px 0px;
    }
}